{% extends 'perris/base.html' %}
{% block content %}
<div class="container">

  
  <h1 class="fadeInLeft titulo-general">Perros Rescatados</h1>
  <div class="row">
    
    {% for perro in perros %}
    <div class="col-12 col-md-6 col-lg-6">
      <div class="card tarjeta-perro bounceInUp">
        {% if perro.fotografia_perro %}
        <img src="{{perro.fotografia_perro.url}}" class="img-responsive card-img-top">
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">{{perro.nombre_perro}}</h5>
          <p class="card-text">{{ perro.descripcion }}</p>
          

          
        </div>
      </div>
    </div>
    
    {% endfor %}
    

  </div>


  
</div>
{% endblock %}
